.icon-main-div {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.icon-div {
  width: 190px;
  height: 120px;
  border: 0.2px solid #828282;
  border-radius: 3px;

  display: grid;
  align-items: center;
  justify-content: center;
}

.icon-div:hover {
  background: #4f918a;
  color: white;
}

@media (min-width: 300px) and (max-width: 768px) {
  .icon-main-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .icon-div {
    width: 170px;
    height: 130px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .icon-main-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .icon-div {
    width: 240px;
    height: 140px;
  }
}
